@font-face {
    font-family: 'Pokemon R/S';
    src: url('./assets/fonts/PokemonRS.woff2') format('woff2'),
        url('./assets/fonts/PokemonRS.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

.card {
    display:flex;
    flex-direction: column;
    margin:3vw;
    height:25vh;
    font-family: 'Pokemon R/S';
}
.cardFace {
    display:flex;
    flex-direction:column;
    height: 23vh;
    width:11vw;
}
.characterDisplay {
    display:flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
}
.name {
    text-align: center;
}
.cardBack {
    display:flex;
    flex-direction:column;
    height:25vh;
    width:10vw;
    background-image: url('./assets/card_back.png');
    background-size: cover;

}
.flipped {
    transform: rotateY(180deg)
}