.startPage {
    display:flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
}
.buttons {
    display:flex;
    width:40vw;
    height:50vh;
    align-items: center;
    justify-content: space-evenly;
}